/* body {
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Noto Sans KR', sans-serif;
} */

.inner {
    padding: 0 9rem;
}

/* ------------------header----------------------- */
header {
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    height: 4rem;
    z-index: 10;
}

header .inner {
    height: 100%;
}

header #container {
    display: flex;
    height: 40px;
    width: 100%;
    left: 0;
    align-items: center;
    padding: 0.75rem;
}

header #container #logo {
    height: 1rem;
    width: 6.75rem;
    float: left;
}

header #container nav {
    height: 100%;
    display: flex;
    align-items: center; 
    width: 100%;   
}

header #container nav > ul{
    margin-left: 40px;
}

header #container nav > ul > li {
    display: inline-block;
    padding: 0 0.5rem;
}

header span {
    font-weight: 600;
}

header #login {
    width: 4rem;
    float: right;
}

/* ------------------slider----------------------- */

.slide_area #slider {
    width: 100%;
    height: 60vh;
    /* 범위를 넘어서는 부분은 보이지 않도록 설정 */
    overflow: hidden;
    position: relative;
}

.slide_area #slider .slide {
    /* 슬라이드 이미지는 원본 크기와 관계없이  */
    /* 가운데를 기준으로 반복없이 주어진 영역을 꽉 채우도록 설정 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* 슬라이드의 화살표와 슬라이드 이미지 간의 레이어 순서를 설정하기 위한 값 */
    position: relative;
    z-index: 1;
}

/* 여섯 장의 슬라이드 이미지를 div 태그의 배경 이미지로 지정 */

.slide_area #slider .slide1 {
    background-image: url(https://d35ai18pny966l.cloudfront.net/course/kdt/Backend/6th/home_banner_1280_backend_python_6th.png);
}

.slide_area #slider .slide2 {
    background-image: url(https://d35ai18pny966l.cloudfront.net/course/events/ddcon/home_banner_vod/home_banner_1280_DDC+2023+VOD.png);
}

.slide_area #slider .slide3 {
    background-image: url(https://d35ai18pny966l.cloudfront.net/course/kdt/FrontEnd/6%EA%B8%B0/banner/home_banner_1280_frontend_6th.png);
}

.slide_area #slider .slide4 {
    background-image: url(https://d35ai18pny966l.cloudfront.net/course/kdt/w3/design_1st/detail_banner/banner_1920_design_1st.png);
}

.slide_area #slider .slide5 {
    background-image: url(https://d35ai18pny966l.cloudfront.net/course/coupon/1280w_home_banner_Kakao_event2.png);
}

/* SLIDER CONTENT */
/* 슬라이드 콘텐츠 */

.slide_area #slider .slide__content {
    /* 슬라이드 콘텐츠 영역은 #slider와 동일하게 잡아줍니다 */
    width: 100%;
    height: 60vh;
    /* #slider 한가운데 콘텐츠가 위치하도록 가운데 정렬 */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.slide_area #slider .slide__content .slide_explain > h2{
    margin-bottom: 1rem;
    font-size: 32px;
    font-weight: 700;
}

.slide_area #slider .slide__content .slide_explain > h3{
    font-size: 18px;
    margin-bottom: 5px;
}

.white {
    color: white;
}

/* SLIDER ARROW */

/* 슬라이드 왼쪽, 오른쪽 화살표에 공통으로 들어갈 속성 지정 */

.slide_area #slider .arrow--left, .slide_area #slider .arrow--right {
    /* 부모 요소인 #slider를 기준으로 절대위치를 지정 */
    position: absolute;
    /* #slider의 상단으로부터 #slider의 전체 높이의 50%에 해당하는 지점만큼 간격을 줍니다  */
    top: 50%;
    /* 크기를 80px만큼 주고 */
    font-size: 80px;
    /* margin-top 속성을 이용하여 그것의 절반만큼 위로 당겨줍니다 */
    margin-top: -40px;
    color: black;
    cursor: pointer;
    /* 슬라이드 이미지보다 위에 있도록 z-index값을 설정  */
    z-index: 2;
}

/* 왼쪽 화살표는 #slider의 왼편에 붙도록 합니다 */

.slide_area #slider .arrow--left {
    left: 0px;
}

/* 오른쪽 화살표는 #slider의 오른편에 붙도록 합니다 */

.slide_area #slider .arrow--right {
    right: 0px;
}

/* ------------------section1: school_list----------------------- */
.school_list {
    margin-top: 80px;
}

.title {
    display: flex;
    justify-content: space-between;
}

.title .title_explain {
    float: left;
}

.title .title_explain > p {
    font-size: 1rem;
}

.title .title_explain .orange {
    --tw-text-opacity: 1;
    color: rgb(230 120 0/var(--tw-text-opacity));
    margin-bottom: 16px;
    font-weight: bolder;
}

.title .title_explain > h2 {
    font-size: 26px;
    font-weight: 900;
}

.title .title_explain .gray {
    --tw-text-opacity: 1;
    color: rgb(115 115 115/var(--tw-text-opacity));
    margin-top: 16px;
    font-weight: bold;
}

.title .detail {
    float: right;
    bottom: 0px;
    font-size: 0.8rem;
    font-weight: 800px;
}

/* ------------------section1: school_element----------------------- */

.school_elements {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;

    display: grid;
    grid-template-columns: repeat(4, 290px);
    gap: 1.5rem;
}

.school_elements .school_pic {
    width: 100%;
    height: 15rem;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5%;
}

.school_elements .school_explain {
    padding-top: 1rem;
}

.school_elements .school_explain .state {
    display: inline-block;
    padding: 8px 4px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    font-weight: 600;
}

.school_elements .school_explain .ing {
    --tw-text-opacity: 1;
    color: rgb(29 78 216/var(--tw-text-opacity));
    border-color: rgb(59 130 246/var(--tw-border-opacity));
}

.school_elements .school_explain .yet {
    --tw-text-opacity: 1;
    color: rgb(5 150 105/var(--tw-text-opacity));
    border-color: rgb(20 184 166/var(--tw-border-opacity));
}
.school_elements .school_explain .end {
    --tw-text-opacity: 1;
    color: rgb(63 63 70/var(--tw-text-opacity));
    border-color: rgb(20 184 166/var(--tw-border-opacity));
}

.school_elements .school_explain .school_sub1 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 900;
}

.school_elements .school_explain .school_sub2 {
    font-size: 1.125rem;
    line-height: 150%;
}

.school_elements .school_explain .date {
    font-size: 1rem;
    margin-top: 1rem;
    --tw-text-opacity: 1;
    color: rgb(163 163 163/var(--tw-text-opacity));
}

.school_elements .s_pic1 {
    background-image: url(https://d35ai18pny966l.cloudfront.net/course/kdt/w3/design_1st/thumbnail/thumbnail_design_1st.png);
}

.school_elements .s_pic2 {
    background-image: url("https://d35ai18pny966l.cloudfront.net/course/kdt/Backend/6th/thumbnail_backend(python)_6th.png");
}

.school_elements .s_pic3 {
    background-image: url(https://d35ai18pny966l.cloudfront.net/course/kdt/FrontEnd/thumbnail.png);
}

.school_elements .s_pic4 {
    background-image: url(https://d35ai18pny966l.cloudfront.net/course/kdt/ai/9th/thumbnail_ai_9th.png);
}

.school_elements .s_pic5 {
    background-image: url(https://d35ai18pny966l.cloudfront.net/course/kdt/w3/blockchain_3rd/thumbnail_blockchain_3rd.png);
}

.school_elements .s_pic6 {
    background-image: url(https://d35ai18pny966l.cloudfront.net/course/kdt/Data/DAS_1st/thumbnail_data+analysis_1st.png);
}

.school_elements .s_pic7 {
    background-image: url(https://d35ai18pny966l.cloudfront.net/course/kdt/app/2nd/thumbnail_app_2nd.png);
}

.school_elements .s_pic8 {
    background-image: url("https://d35ai18pny966l.cloudfront.net/course/kdt/Backend/5th/thumbnail_backend(java)_5th.png");
}

/* ------------------section2: alarm----------------------- */
.alarm {
    width: 100%;
    height: 150px;
    margin-top: 80px;
    padding: 1rem 1.5rem 0 1rem;
    background-image: url("https://d35ai18pny966l.cloudfront.net/course/prenotice/strip_banner_1024_prenotice.png");

    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.alarm > h3 {
    margin-top: 15px;
    font-size: .875rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(7 44 86/var(--tw-text-opacity));
}

.alarm > p {
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 150%;
}

.alarm > div {
    font-size: 0.875rem;
    font-weight: 600;
}


/* ------------------section3: school_edu----------------------- */
.edu_list {
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.edu_elements {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;

    display: grid;
    grid-template-columns: repeat(2, 38rem);
    gap: 1.5rem;
}

.edu_elements .edu_pic {
    width: 100%;
    height: 20rem;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.edu_elements .e_pic1 {
    background-image: url(https://d35ai18pny966l.cloudfront.net/course/sus/home_card_600_sus.png);
}

.edu_elements .e_pic2 {
    background-image: url(https://d35ai18pny966l.cloudfront.net/course/roadmap/home_card_600_roadmap.png);
}

.edu_elements .e_pic3 {
    background-image: url(https://d35ai18pny966l.cloudfront.net/course/vodclass/home_card_600_vodclass.png);
}

.edu_elements .e_pic4 {
    background-image: url(https://d35ai18pny966l.cloudfront.net/course/kdt/home_card_600_kdt.png);
}

.edu_elements .edu_explain {
    padding: 40px;
}

.edu_elements .edu_explain > h4 {
    font-size: 1.5rem;
    font-weight: 700;
}

.edu_elements .edu_explain > p {
    margin-top: 1rem;
    font-size: 1rem;
    --tw-text-opacity: 1;
    color: rgb(38 38 38/var(--tw-text-opacity));
    font-weight: 500;
    line-height: 150%;
}

.edu_elements .edu_explain > div {
    margin-top: 2rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(115 115 115/var(--tw-text-opacity));
}

/* ------------------footer----------------------- */
footer {
    width: auto;
    padding: 2rem 1rem;
    box-sizing: border-box;
    border-top: 2px solid #e5e5e5;
}

.nav_list {
    display: flex;
    justify-content: space-between;
}

.nav_list .footer_img {
    width: 190px;
    overflow: hidden;
}

.nav_list .footer_img .footer_logo {
    width: 100%;
    object-fit: cover;
}

.nav_list .footer_list {
    display: inline-block;
    width: 200px;
}

.nav_list .footer_list .all_edu > h3 {
    font-size: 0.75rem;
    --tw-text-opacity: 1;
    color: rgb(115 115 115/var(--tw-text-opacity));
}

.nav_list .footer_list .all_edu > ul {
    margin-top: 1rem;
    font-size: 0.875rem;
    font-weight: 600;
}

.nav_list .footer_list .all_edu > ul > li {
    margin-top: 1.5rem;
}

.company_info {
    width: 100%;
    margin-top: 1rem;
    box-sizing: border-box;
    border-top: 2px solid #e5e5e5;
}

.company_info > ul {
    display: inline-block;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.company_info > ul > li {
    float: left;
    margin-right: 1rem;
}

.company_info > div {
    --tw-text-opacity: 1;
    color: rgb(115 115 115/var(--tw-text-opacity));
    font-size: 0.75rem;
    font-weight: 500;
    margin-top: 0.5rem;
}

.company_info .f_last1 {
    margin-top: 12px;
}